* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, Verdana, sans-serif; 
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.navbar {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}
.brand {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 800;
}
.brand:hover {
  color: black;
}
.nav-button {
  margin-left: auto;
}
.nav-menu {
  display: inline-flex;
  color: whitesmoke;
  /* float: center; where this center, center-bottom came from? it is either left / right value*/
  align-items: center;
  list-style: none; /* it can be square, circle, dot, none */
  margin: 0 auto;
}
.nav-menu-link a{
  padding: 17px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
}
.nav-menu-link a:hover, .nav-menu-link a:focus{
  background-color: orangered;
  color: black;;
}
.nav-menu-link.active>a{
  background-color: orangered;
  color: black;;
}
/* for add money button */
.button {
  background-color: wheat;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: orangered;
  color: black;
}

.main-wrapper {
  background-image: url(../images/background.jpeg) ;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
}



/* for sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:whitesmoke;
  position: absolute;
  bottom: 15px;
  left: 50px;
  height: 35%;
  overflow: auto;
  border-radius: 12px 12px ;
}
 
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: black;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: black;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 10px;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* for font */
.p1 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  color: whitesmoke;
  font-size: 160px;
  text-align: center;
  font-weight: 900;
  font-style: normal;
}
.p2 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  color: whitesmoke;
  font-size: 120px;
  text-align: center;
  font-weight: 900;
  font-style: normal;
}

.container2 {
  max-width: 1200px;
  margin: 0 20px;
  width: 100%;
}
.p3 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  color: whitesmoke;
  font-size: 120px;
  text-align: right;
  font-weight: 900;
  font-style: normal;
}



